*/auth_env/
*/.env
*/app/__pycache__/
*/.pytest_cache/
*/*.pyc
*__pycache__/
*__pycache__/*
*.key   
*.json
*.csv
*.png
*.fcs
*.tsv
*.xlsx
*.featureXML
*.consensusXML
*.jar
*/metabolomics_env
*.rdb
*analysis_env/
