*/auth_env/
*/.env
*/app/__pycache__/
*/.pytest_cache/
*/*.pyc
*__pycache__/
*__pycache__/*
*.key   
*.csv
*.png
*.tsv
*.xlsx
*.featureXML
*.consensusXML
*.jar
*/metabolomics_env
*.rdb
*analysis_env/
tools/
auth_microservice/*/*.json
flow_cytometry_microservice/*/*.json
