FLASK_RUN_METABO_PROD_PORT = 5001

FERNET_SECRET_KEY=your_secret_key
METABOLOMICS_SECRET_KEY=your_secret_key

METABOLOMICS_ENV=production
MONGO_URI_METABOLOMICS= YOUR_MONGO_URI_METABOLOMICS
MONGO_URI_AUTH= YOUR_MONGO_URI_AUTH

TOOLS_PATH= YOUR_TOOLS_PATH

METABOLOMICS_SAVE_PATH = YOUR_METABOLOMICS_SAVE_PATH

JWT_SECRET_KEY=your_secret_key

DB_DIR=YOUR_DATABASE_DIRECTORY