version: '3.8'

services:
  web:
    build: .
    container_name: pipeline_microservice
    command: python run.py
    ports:
      - "5002:5002"
    environment:
      - PIPELINE_ENV=${PIPELINE_ENV}
      - MONGO_URI_AUTH=${MONGO_URI_AUTH}
      - MONGO_URI_METABOLOMICS=${MONGO_URI_METABOLOMICS}
      - MONGO_URI_FLOW_CYTOMETRY=${MONGO_URI_FLOW_CYTOMETRY}
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - VIRTUAL_HOST=hpc.cast.unich.it
      - VIRTUAL_PORT=5002
    volumes:
      - .:/pipeline_microservice
      - ./logs:/pipeline_microservice/logs
      - /media/datastorage/it_cast/omnis_microservice_db:/media/datastorage/it_cast/omnis_microservice_db
    depends_on:
      - redis
    networks:
      - pipeline_network
      - nginx-proxy

  celery:
    build: .
    container_name: pipeline_celery
    command: celery -A app.celery_app worker --loglevel=info
    environment:
      - MONGO_URI_FLOW_CYTOMETRY=${MONGO_URI_FLOW_CYTOMETRY}
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    volumes:
      - .:/pipeline_microservice
      - ./logs:/pipeline_microservice/logs
      - /media/datastorage/it_cast/omnis_microservice_db:/media/datastorage/it_cast/omnis_microservice_db
    depends_on:
      - redis
    networks:
      - pipeline_network

  redis:
    image: redis:alpine
    container_name: pipeline_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - pipeline_network

networks:
  pipeline_network:
    driver: bridge
  nginx-proxy:
    external: true
    name: nginx-proxy

volumes:
  redis_data:


